@model IEnumerable<Projects_Workshop.Models.Entities.Project>
@{
    ViewData["Title"] = "Проекты";
}
<h1>@ViewData["Title"]</h1>

<div class="add-new-button">
    <a asp-action="ProjectEditor" asp-route-id="">Добавить проект</a>
    <a asp-action="DownloadFile">Выгрузить данные</a>
</div>
<h3>Сортировать по: </h3>
<div class="sort-links">
    <a asp-action="AllProjects" asp-route-sortOrder="@ViewData["ProjectNameSortParm"]">@ViewData["ProjectNameSort"]</a>
    <a asp-action="AllProjects" asp-route-sortOrder="@ViewData["PartisipantsSortParm"]">@ViewData["PartisipantsSort"]</a>
</div>
<div class="projects-board">
    @foreach (var item in Model)
    {
        <a asp-area="" asp-action="ProjectPage" asp-route-id="@item.Id">
            <div class="projects-board-item">
                <div class="projects-board-item-title">
                    <h4>@item.Name</h4>
                </div>
                <div class="projects-board-item-content">
                    <p>@item.ShortDescription</p>
                    <p><b>Направление: </b>@item.Theme</p>
                    <p><b>Куратор: </b>@item.Curator</p>
                    <p><b>Кол-во команд: </b>@item.Teams.Count</p>
                    <p><b>Кол-во участников: </b>@item.Participants.Count</p>
                </div>
            </div>
        </a>
    }
</div>
